table { 
    border-collapse: collapse; 
    width: 100%; max-width: 800px; 
    margin: 0 auto; 
}

th { 
    padding: 1rem; 
    background-color: #248eff; 
    color: #fff; 
    text-align: left; 
    font-weight: bold; 
    border: 1px solid #fff; 
}

td { 
    padding: 1rem; 
    border: 1px solid #ddd; 
    line-height: 1.4; 
}

td:first-child { 
    font-weight: bold; 
    color: #248eff; 
    width: 40%; 
}

td:last-child { 
    color: #4d4d4d; 
}

tr.empty td { 
    font-size: 1.2rem; 
    color: #888888; 
    text-align: center; 
}

h1 { 
    font-size: 3rem; 
    font-weight: bold; 
    color: #1a1a1a; 
    margin-bottom: 2rem; 
    text-align: center; 
    text-transform: uppercase; 
}

tr:hover {
     background-color: #f2f2f2; 
    }

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Установка стилей для заголовка */
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

/* Установка стилей для навигационного меню */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}

nav a:hover {
    text-decoration: underline;
}